<!-- <ng-container *ngIf="loading; else content">
    <funle-portal-loader></funle-portal-loader>
  </ng-container> -->

<div class="attention-container container">
    <h1>Opdrachten</h1>
    <div class="row">
        <div class="col-md-12">
            <funle-portal-assignments-table *ngIf="assignments?.length > 0; else noContent" [showFilter]="false"
                [assignments]="assignments" (assignmentSelected)="onAssignmentSelected($event)">
            </funle-portal-assignments-table>
            <ng-template #noContent>
                <funle-portal-message-container [title]="messageTitle">
                    <funle-portal-message *ngIf="nothingFound" [message]="message"
                        [secondMessage]="'Ondertussen kun je op FunleVision allerlei interessante dingen vinden.'">
                    </funle-portal-message>
                    <funle-portal-message *ngIf="somethingWentWrong" [message]="somethingWentWrongMessage">
                    </funle-portal-message>
                </funle-portal-message-container>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <funle-portal-block [type]="'basic'" [icon]="'dashboard'" [title]="'Dashboard'"
                [text]="'Een overzichtelijk overzicht. Overzichtelijker kunnen we het niet maken.'">
                <button (click)="toPage('dashboard')" mat-button>Naar dashboard <mat-icon>arrow_forward</mat-icon>
                    </button>
            </funle-portal-block>
        </div>
    </div>
</div>