@import 'src/libs/ui/scss/constants/colors';
@import 'src/libs/ui/scss/themes/material';

.all-detail {
  &-container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}