@import 'src/libs/ui/scss/constants/colors';
@import 'src/libs/ui/scss/themes/material';

.general {
  padding: 16px;
  border-bottom: 2px solid #bfbfbf;

  &-item {
    display: flex;
    justify-content: flex-start;

    &--label {
      font-weight: 500;
      min-width: 25%;
    }
  }
}
