<div class="all-container container">
    <h1>Opdrachten</h1>
    <div class="row">
        <div class="col-md-12">
            <funle-portal-assignments-table [showFilter]="false"
                [assignments]="assignments$ | async" (assignmentSelected)="onAssignmentSelected($event)">
            </funle-portal-assignments-table>
            <ng-template #noContent>
                <funle-portal-message-container [title]="messageTitle">
                    <funle-portal-message *ngIf="nothingFound" [message]="nothingFoundMessage"
                        [secondMessage]="'Sommige opdrachtgevers hebben liever dat wij specifiek naar kandidaten zoeken. Hierdoor zijn deze opdrachten niet te zien in deze lijst. Geef in je profiel aan dat je op zoek bent en per wanneer zodat wij deze opdrachten aan je kunnen koppelen als we een match zien.'">
                    </funle-portal-message>
                    <funle-portal-message *ngIf="somethingWentWrong" [message]="somethingWentWrongMessage">
                    </funle-portal-message>
                </funle-portal-message-container>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <funle-portal-block [type]="'basic'" [icon]="'dashboard'" [title]="'Dashboard'"
                [text]="'Een overzichtelijk overzicht. Overzichtelijker kunnen we het niet maken.'">
                <button (click)="toPage('dashboard')" mat-button>Naar dashboard <mat-icon>arrow_forward</mat-icon>
                    </button>
            </funle-portal-block>
        </div>
    </div>
</div>