<div class="dashboard-banner"
  [ngClass]="{'dashboard-high-banner': dashboard?.mainScenario === 4 || dashboard?.mainScenario === 0 }"></div>
<div class="dashboard-container container">
  <div class="dashboard-header">
    <div class="dashboard-header--title">
      <div class="row">
        <div class="col-md-8">
            <!-- NotActive -->
            <funle-portal-banner [title]="'Beschikbaar'" 
              [firstParagraph]="'Ben jij binnenkort weer beschikbaar voor een andere opdracht? Geef het bij ons aan en wij zorgen er voor dat je geen zorgen hoeft te maken dat je zonder opdracht komt te zitten.'">
              <funle-portal-action-button (click)="goTo('profile')" [type]="'secondary'" [text]="'Beschikbaarheid opgeven'"></funle-portal-action-button>
            </funle-portal-banner>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
    <div class="dashboard-content">
      <div class="row">
        <div class="col-md-6">
          <funle-portal-block [type]="'basic'" [icon]="'star'" [title]="'Uitgelicht'"
            [text]="'Opdrachten die wij gevonden hebben waarvan we denken dat ze bij jou passen.'">
            <funle-portal-link-button *ngIf="isSearching" [page]="'attention'"></funle-portal-link-button>
            <funle-portal-disabled-message *ngIf="isInactive" [type]="'inactive'"></funle-portal-disabled-message>
            <funle-portal-disabled-message *ngIf="isNotSearching" [type]="'notSearching'">
            </funle-portal-disabled-message>
          </funle-portal-block>
        </div>
        <div class="col-md-6">
          <funle-portal-block [type]="'basic'" [icon]="'pending_actions'" [title]="'Biedingen'"
            [text]="'Hier kun je de status bijhouden van de opdrachten waarop jij bent aangeboden.'">
            <funle-portal-link-button *ngIf="isSearching || isNotSearching" [page]="'favorite'">
            </funle-portal-link-button>
            <funle-portal-disabled-message *ngIf="isInactive" [type]="'inactive'"></funle-portal-disabled-message>
          </funle-portal-block>
        </div>
      </div>
      <!-- <div class="row">
      <div class="col-md-4">
        <ng-container [ngSwitch]="dashboard.secondaryScenario">
          <funle-portal-block *ngSwitchCase="0" [type]="'primary'" [icon]="'chat'" [title]="'Contact'"
            [text]="'Heb jij liever dat we via whatsapp contact opnemen in plaats van bellen?'">
            <funle-portal-action-button (click)="setWhatsapp()" [type]="'primary'"
              [text]="'Ja, ik heb liever whatsapp'"></funle-portal-action-button>
          </funle-portal-block>
          <funle-portal-block *ngSwitchCase="2" [type]="'primary'" [icon]="'redeem'" [title]="'Korting'"
            [text]="'Deel de link en met mensen uit je netwerk. Per aanmelding via de link krijg jij korting.'">
            <funle-portal-link-button [page]="'incentive'"></funle-portal-link-button>
          </funle-portal-block>
        </ng-container>
      </div>
      <div class="col-md-8">
        <funle-portal-block [type]="'secondary'" [icon]="'tips_and_updates'" [title]="'FunleVision'"
          [text]="'Heb jij een vraag over freelancen of IT? Stel ze bij FunleVision en wij gaan voor jou op zoek naar het antwoord!'">
          <funle-portal-action-button (click)="toFunleVision()" [type]="'secondary'" [text]="'Naar FunleVision'">
          </funle-portal-action-button>
        </funle-portal-block>
      </div>
    </div> -->
      <div class="row">
        <div class="col-md-6">
          <funle-portal-block [type]="'basic'" [icon]="'article'" [title]="'Opdrachten'"
            [text]="'Alle opdrachten waarvan ons systeem denkt dat dit mogelijk aansluit op jouw profiel.'">
            <funle-portal-link-button *ngIf="isSearching || isNotSearching" [page]="'all'"></funle-portal-link-button>
            <funle-portal-disabled-message *ngIf="isInactive" [type]="'inactive'"></funle-portal-disabled-message>
          </funle-portal-block>
        </div>
        <div class="col-md-6">
          <funle-portal-block [type]="'basic'" [icon]="'manage_accounts'" [title]="'Profiel'"
            [text]="'Al jouw instellingen en informatie.'">
            <funle-portal-link-button [page]="'profile'"></funle-portal-link-button>
          </funle-portal-block>
        </div>
      </div>
    </div>
</div>